<p>
  <%= image_tag customer.image %>
</p>

<h2>
  <%= customer.name %>
</h2>

<p>
  Phone: <%= customer.phone %>
</p>

<p>
  Email: <%= customer.email %>
</p>

<p>
  Notes: <%= customer.notes %>
</p>
